/*
    jcropper.scss v0.9.15 - MIT License
*/

@import 'partials/reset';
@import 'partials/variables';
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap';

$white: white;
$black: black;
$selectionBorderWidth: 1px;
$selectionBackgroundColor: $white;
$grabSize: 7px;
$grabOffset: (floor($grabSize/2)+1) * -1;
$handleSize: $grabSize;
$handleOffset: $grabOffset;
$handleBorderWidth: 1px;
$handleBorderColor: #eee;
$handleBorderStyle: solid;
$handleBackgroundColor: #333;
$dragbarWidth: $grabSize;
$dragbarOffset: $grabOffset;

.jcrop-holder
{
    direction: ltr;
    text-align: left;
    -ms-touch-action: none;
}

.jcrop-hline,
.jcrop-vline
{
    background: $selectionBackgroundColor;
    font-size: 0;
    position: absolute;
}

.jcrop-vline
{
    height: 100%;
    width: $selectionBorderWidth !important;

    &.right
    {
        right: 0;
    }
}

.jcrop-hline
{
    height: $selectionBorderWidth !important;
    width: 100%;

    &.bottom
    {
        bottom: 0;
    }
}

.jcrop-tracker
{
    height: 100%;
    width: 100%;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

.jcrop-handle
{
    background-color: $handleBackgroundColor;
    border: $handleBorderWidth $handleBorderColor $handleBorderStyle;
    width: $handleSize;
    height: $handleSize;
    font-size: 1px;

    &.ord-n
    {
        left: 50%;
        margin-left: $handleOffset;
        margin-top: $handleOffset;
        top: 0;
    }

    &.ord-s
    {
        bottom: 0;
        left: 50%;
        margin-bottom: $handleOffset;
        margin-left: $handleOffset;
    }

    &.ord-e
    {
        margin-right: $handleOffset;
        margin-top: $handleOffset;
        right: 0;
        top: 50%;
    }

    &.ord-w
    {
        left: 0;
        margin-left: $handleOffset;
        margin-top: $handleOffset;
        top: 50%;
    }

    &.ord-nw
    {
        left: 0;
        margin-left: $handleOffset;
        margin-top: $handleOffset;
        top: 0;
    }

    &.ord-ne
    {
        margin-right: $handleOffset;
        margin-top: $handleOffset;
        right: 0;
        top: 0;
    }

    &.ord-se
    {
        bottom: 0;
        margin-bottom: $handleOffset;
        margin-right: $handleOffset;
        right: 0;
    }

    &.ord-sw
    {
        bottom: 0;
        left: 0;
        margin-bottom: $handleOffset;
        margin-left: $handleOffset;
    }
}

.jcrop-dragbar
{
    &.ord-n,
    &.ord-s
    {
        height: $dragbarWidth;
        width: 100%;
    }

    &.ord-e,
    &.ord-w
    {
        height: 100%;
        width: $dragbarWidth;
    }

    &.ord-n
    {
        margin-top: $dragbarOffset;
    }

    &.ord-s
    {
        bottom: 0;
        margin-bottom: $dragbarOffset;
    }

    &.ord-e
    {
        margin-right: $dragbarOffset;
        right: 0;
    }

    &.ord-w
    {
        margin-left: $dragbarOffset;
    }
}

.jcrop-light
{
    .jcrop-hline,
    .jcrop-vline
    {
        background: $white;
        filter:Alpha(opacity=70)!important;
        opacity: 0.70!important;
    }

    .jcrop-handle
    {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: $black;
        border-color: $white;
        border-radius: 3px;
    }
}

.jcrop-dark
{
    .jcrop-hline,
    .jcrop-vline
    {
        background: $black;
        filter: Alpha(opacity=70) !important;
        opacity: 0.7 !important;
    }

    .jcrop-handle
    {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        background-color: $white;
        border-color: $black;
        border-radius: 3px;
    }
}

.solid-line
{
    .jcrop-hline,
    .jcrop-vline
    {
        background: $selectionBackgroundColor;
    }
}

.jcrop-holder img,
img.jcrop-preview
{
    max-width: none;
}
