article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section
{
    display: block;
}

audio,
canvas,
video
{
    display: inline-block;
    *display: inline;
    *zoom: 1;
}

audio:not([controls])
{
    display: none;
}

html
{
    font-size: 100%;
    -webkit-text-size-adjust: 100%;
         -ms-text-size-adjust: 100%;
}

a:hover,
a:active
{
    outline: 0;
}

sub,
sup
{
    position: relative;
    font-size: 75%;
    line-height: 0;
    vertical-align: baseline;
}

sup
{
    top: -0.5em;
}

sub
{
    bottom: -0.25em;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

button,
input
{
    *overflow: visible;
    line-height: normal;
}

button::-moz-focus-inner,
input::-moz-focus-inner
{
    padding: 0;
    border: 0;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit']
{
    -webkit-appearance: button;
    cursor: pointer;
}

input[type='search']
{
    -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
            box-sizing: content-box;
    -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button
{
    -webkit-appearance: none;
}

textarea
{
    overflow: auto;
    vertical-align: top;
}
