// Colors
$black: #000;
$grayDarker: #222;
$grayDark: #333;
$gray: #555;
$grayLight: #999;
$grayLighter: #eee;
$white: #fff;

// Accent Colors
$blue: #049cdb;
$blueDark: #0064cd;
$green: #46a546;
$red: #9d261d;
$yellow: #ffc40d;
$orange: #f89406;
$pink: #c3325f;
$purple: #7a43b6;

// Scaffolding
$bodyBackground: $white;
$textColor: $grayDark;

// Links
$linkColor: #08c;
$linkColorHover: darken($linkColor, 15%);

// Typography
$sansFontFamily: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$serifFontFamily: Georgia, 'Times New Roman', Times, serif;
$monoFontFamily: Monaco, Menlo, Consolas, 'Courier New', monospace;
$baseFontSize: 14px;
$baseFontFamily: $sansFontFamily;
$baseLineHeight: 20px;
$altFontFamily: $serifFontFamily;
$headingsFontFamily: inherit;
$headingsFontWeight: bold;
$headingsColor: inherit;

// Component Sizing
$fontSizeLarge: $baseFontSize * 1.25;
$fontSizeSmall: $baseFontSize * 0.85;
$fontSizeMini: $baseFontSize * 0.75;
$paddingLarge: 11px 19px;
$paddingSmall: 2px 10px;
$paddingMini: 1px 6px;
$baseBorderRadius: 4px;
$borderRadiusLarge: 6px;
$borderRadiusSmall: 3px;

// Tables
$tableBackground: transparent;
$tableBackgroundAccent: #f9f9f9;
$tableBackgroundHover: #f5f5f5;
$tableBorder: #ddd;

// Buttons
$btnBackground: $white;
$btnBackgroundHighlight: darken($white, 10%);
$btnBorder: #bbb;
$btnPrimaryBackground: $linkColor;
$btnPrimaryBackgroundHighlight: adjust-hue($btnPrimaryBackground, 20%);
$btnInfoBackground: #5bc0de;
$btnInfoBackgroundHighlight: #2f96b4;
$btnSuccessBackground: #62c462;
$btnSuccessBackgroundHighlight: #51a351;
$btnWarningBackground: lighten($orange, 15%);
$btnWarningBackgroundHighlight: $orange;
$btnDangerBackground: #ee5f5b;
$btnDangerBackgroundHighlight: #bd362f;
$btnInverseBackground: #444;
$btnInverseBackgroundHighlight: $grayDarker;

// Forms
$inputBackground: $white;
$inputBorder: #ccc;
$inputBorderRadius: $baseBorderRadius;
$inputDisabledBackground: $grayLighter;
$formActionsBackground: #f5f5f5;
$inputHeight: $baseLineHeight + 10px;

// Dropdowns
$dropdownBackground: $white;
$dropdownBorder: rgba(0, 0, 0, .2);
$dropdownDividerTop: #e5e5e5;
$dropdownDividerBottom: $white;
$dropdownLinkColor: $grayDark;
$dropdownLinkColorHover: $white;
$dropdownLinkColorActive: $dropdownLinkColor;
$dropdownLinkBackgroundActive: $linkColor;
$dropdownLinkBackgroundHover: $dropdownLinkBackgroundActive;

// Component Variables
$zindexDropdown: 1000;
$zindexPopover: 1010;
$zindexTooltip: 1030;
$zindexFixedNavbar: 1030;
$zindexModalBackdrop: 1040;
$zindexModal: 1050;

// Sprite Icons Path
$iconSpritePath: '../img/glyphicons-halflings.png';
$iconWhiteSpritePath: '../img/glyphicons-halflings-white.png';

// Input Placeholder Text Color
$placeholderText: $grayLight;

// HR Border Color
$hrBorder: $grayLighter;

// Horizontal FDorms & Lists
$horizontalComponentOffset: 180px;

// Wells
$wellBackground: #f5f5f5;

// Navbar
$navbarCollapseWidth: 979px;
$navbarCollapseDesktopWidth: $navbarCollapseWidth + 1;
$navbarHeight: 40px;
$navbarBackgroundHighlight: #ffffff;
$navbarBackground: darken($navbarBackgroundHighlight, 5%);
$navbarBorder: darken($navbarBackground, 12%);
$navbarText: #777;
$navbarLinkColor: #777;
$navbarLinkColorHover: $grayDark;
$navbarLinkColorActive: $gray;
$navbarLinkBackgroundHover: transparent;
$navbarLinkBackgroundActive: darken($navbarBackground, 5%);
$navbarBrandColor: $navbarLinkColor;

// Inverted Navbar
$navbarInverseBackground: #111111;
$navbarInverseBackgroundHighlight: #222222;
$navbarInverseBorder: #252525;
$navbarInverseText: $grayLight;
$navbarInverseLinkColor: $grayLight;
$navbarInverseLinkColorHover: $white;
$navbarInverseLinkColorActive: $navbarInverseLinkColorHover;
$navbarInverseLinkBackgroundHover: transparent;
$navbarInverseLinkBackgroundActive: $navbarInverseBackground;
$navbarInverseSearchBackground: lighten($navbarInverseBackground, 25%);
$navbarInverseSearchBackgroundFocus: $white;
$navbarInverseSearchBorder: $navbarInverseBackground;
$navbarInverseSearchPlaceholderColor: #ccc;
$navbarInverseBrandColor: $navbarInverseLinkColor;

// Pagination
$paginationBackground: #fff;
$paginationBorder: #ddd;
$paginationActiveBackground: #f5f5f5;

// Hero Unit
$heroUnitBackground: $grayLighter;
$heroUnitHeadingColor: inherit;
$heroUnitLeadColor: inherit;

// Form States And Alerts
$warningText: #c09853;
$warningBackground: #fcf8e3;
$warningBorder: darken(adjust-hue($warningBackground, -10), 3%);
$errorText: #b94a48;
$errorBackground: #f2dede;
$errorBorder: darken(adjust-hue($errorBackground, -10), 3%);
$successText: #468847;
$successBackground: #dff0d8;
$successBorder: darken(adjust-hue($successBackground, -10), 5%);
$infoText: #3a87ad;
$infoBackground: #d9edf7;
$infoBorder: darken(adjust-hue($infoBackground, -10), 7%);

// Tooltips And Popovers
$tooltipColor: #fff;
$tooltipBackground: #000;
$tooltipArrowWidth: 5px;
$tooltipArrowColor: $tooltipBackground;
$popoverBackground: #fff;
$popoverArrowWidth: 10px;
$popoverArrowColor: #fff;
$popoverTitleBackground: darken($popoverBackground, 3%);

// Special Enhancement For Popovers
$popoverArrowOuterWidth: $popoverArrowWidth + 1;
$popoverArrowOuterColor: rgba(0, 0, 0, .25);

// Grid
$gridColumns: 12;
$gridColumnWidth: 60px;
$gridGutterWidth: 20px;
$gridRowWidth: ($gridColumns * $gridColumnWidth) + ($gridGutterWidth * ($gridColumns - 1));
$gridColumnWidth1200: 70px;
$gridGutterWidth1200: 30px;
$gridRowWidth1200: ($gridColumns * $gridColumnWidth1200) + ($gridGutterWidth1200 * ($gridColumns - 1));
$gridColumnWidth768: 42px;
$gridGutterWidth768: 20px;
$gridRowWidth768: ($gridColumns * $gridColumnWidth768) + ($gridGutterWidth768 * ($gridColumns - 1));

// Fluid Grid
$fluidGridColumnWidth: percentage($gridColumnWidth / $gridRowWidth);
$fluidGridGutterWidth: percentage($gridGutterWidth / $gridRowWidth);
$fluidGridColumnWidth1200: percentage($gridColumnWidth1200 / $gridRowWidth1200);
$fluidGridGutterWidth1200: percentage($gridGutterWidth1200 / $gridRowWidth1200);
$fluidGridColumnWidth768: percentage($gridColumnWidth768 / $gridRowWidth768);
$fluidGridGutterWidth768: percentage($gridGutterWidth768 / $gridRowWidth768);
